

/*navbar*/

.topnav {
  overflow: hidden;
  background: linear-gradient( black, rgba(0, 0, 0, 0.7));
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  z-index: 1;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 25px;
  text-align: justify;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #FED8A7;
  text-decoration: none;
}

.topnav a.active {
font-size: 30px;
text-decoration: none;
}



/*video*/



#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/*image*/
.responsive {
  width: 100%;
  height: auto;
}
/*steps*/



.collapsible {
  background-color: rgb(41, 40, 40);
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 30px;

  border-radius: 2px;
  position: relative;
  margin-top: 10px;
  font-weight: bold;
}

.active,
.collapsible:hover {
  /*color: #7989d1;*/
  color: #FED8A7;
}

.content {

  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  background-color: rgb(41, 40, 40);
  border-radius: 2px;
  min-height: auto;
  width: auto;
  height: fit-content;

}

.texo1 {
  color: #ffffff;
  
  font-size: 25px;
}

.texo1:hover {
  color: #7f90db;
  ;
}

.heading-faq {

  font-weight: bolder;
  text-align: center;
  color: #000000;
}

/*carousel*/
.carousel-inner>.item>img {
  margin: 0 auto;
}



/*intro videos*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;
  margin-bottom: 10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*cards*/


section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: rgb(17, 43, 82);
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card {
  min-height: 312px;
}

.backside .card {
  min-height: 312px;

}

.backside .card a,
.frontside .card a {
  font-size: 18px;

}



.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}


/*footer*/
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), black), url("http://andreeabunget.co.uk/Img/footer.jpg");
  background-size: cover;

}



.first {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206, 206, 206);

}

.first h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em;
}

.first h4:hover {
  color: red;
}

.first h4::after {
  content: '';
  background: #303b9d;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.first p {
  font-size: 14px;
}

.second {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206, 206, 206);
  
  text-align: center;
}

.second2 {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206, 206, 206);

  text-align: center;
}

.second h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em;
}

.second h4::after {
  background: #172778;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 40%;
}


.second li {
  list-style: none;
  padding-bottom: 30px;
}

.second a,
.second2 a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

.second a:hover,
.second2 a:hover {
  color: red;
  transition: 0.2s;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
  text-decoration: none
}



.third {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206, 206, 206);

  text-align: right;
}


.third h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em;
}

.third h4:hover {
  color: red;
}

.third h4::after {
  content: '';
  background: #122785;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 80%;
}



.third li {
  list-style: none;
  padding-bottom: 15px;
}


.third a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}


.third a:hover {
  color: #fff;
  transition: 0.2s;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}


@media screen and (max-width:1000px) {
  .first {
    text-align: center;
  }

  .first h4::after {
    left: 40%;
  }
}

@media screen and (max-width:1000px) {
  .third {
    text-align: center;
  }

  .third h4::after {
    left: 40% !important;
  }
}

.margin {
  margin-left: 20px;
}

.line {
  height: 2px;
  background-color: rgb(206, 206, 206);
  width: 100%;
}
.container .texo1 {
  text-align: center;
  margin: 20px 20px 20px 10px;
  
}
